<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <!--<button class="btn btn-success" (click)="ShowFormSave()">Nuevo tipo de documento</button>
    <table class="table">
      <tr>
        <td>ID</td>
        <td>Nombre Documento</td>
        <td>Fecha</td>
        <td>Estado</td>
      </tr>
      <tr *ngFor="let item of data">
        <td>{{item.rowKey}}</td>
        <td>{{item.text}}</td>
        <td>{{item.date}}</td>
        <td>{{item.state}}</td>
        <td><button class="btn btn-success" (click)="Edit(item.rowKey)">Editar</button><button class="btn btn-success" (click)="Delete(item.rowKey)">Borrar</button></td>
      </tr>
    </table>-->
    <div>
      <!--<div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <label for="exampleInputEmail1">Estado</label>
          </div>
          <div class="col-md-4">
            <select class="form-control" [(ngModel)]="state" (ngModelChange)="ChangeState($event)">
              <option value="-1"></option>
              <option value="1">Activo</option>
              <option value="0">Inactivo</option>
            </select>
          </div>
        </div>
      </div>-->
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <label for="exampleInputEmail1">Nombre</label>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" maxlength="80" [(ngModel)]="name" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <label for="exampleInputEmail1">Cedula</label>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" maxlength="12" [(ngModel)]="identification" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <label for="exampleInputEmail1">Usuario</label>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" maxlength="20" [(ngModel)]="user" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <label for="exampleInputEmail1">Contraseña</label>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" maxlength="8" [(ngModel)]="password" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <label for="exampleInputEmail1">Comfirmar contraseña</label>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" maxlength="8" [(ngModel)]="password1" />
          </div>
        </div>
      </div>
      <button class="btn btn-success"  (click)="Save()">Registrar</button>
      <button class="btn btn-success" *ngIf="showbtnupdate" (click)="Update()">Actualizar</button>
    </div>
    <a href="/">Ir al inicio</a>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>




