<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div>
      <!--<div class="form-group">
    <div class="row">
      <div class="col-md-2">
        <label for="exampleInputEmail1">Banco</label>
      </div>
      <div class="col-md-4">
        <select class="form-control" [(ngModel)]="bank" (ngModelChange)="SelectBank($event)">
          <option value="0"></option>
          <option value="BBVA">BBVA</option>
          <option value="BANORTE">BANORTE</option>
          <option value="DAVIVIENDA">DAVIVIENDA</option>
          <option value="BANCOLOMBIA">BANCOLOMBIA</option>
          <option value="BANCOLOMBIA">BANCO DE BOGOTA</option>
          <option value="BANCO SANTANDER<">BANCO SANTANDER</option>
        </select>
      </div>
    </div>
  </div>-->
      <div class="form-group" *ngIf="showamounth">
        <div class="row">
          <div class="col-md-2">
            <label for="exampleInputEmail1">Monto</label>
          </div>
          <div class="col-md-4">
            <input type="number" class="form-control" maxlength="12" [(ngModel)]="value" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <label for="exampleInputEmail1">Cuenta origen</label>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" maxlength="20" [(ngModel)]="accountorigin" />
          </div>
        </div>
      </div>
      <div class="form-group" *ngIf="showinput">
        <div class="row">
          <div class="col-md-2">
            <label for="exampleInputEmail1">Cuenta destino</label>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" maxlength="20" [(ngModel)]="accounttarget" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <label for="exampleInputEmail1">Tipo de transaccion</label>
          </div>
          <div class="col-md-4">
            <select class="form-control" [(ngModel)]="trans" (ngModelChange)="SelectTransaction($event)">
              <option value="1">Retiro</option>
              <option value="2">Transferencia</option>
            </select>
          </div>
        </div>
      </div>
       <div class="form-group" *ngIf="showcmb">
        <div class="row">
          <div class="col-md-2">
            <label for="exampleInputEmail1">Seleccione un retiro</label>
          </div>
          <div class="col-md-4">
            <select class="form-control" [(ngModel)]="aux" (change)="SelectWithDraw($event)">
              <option value="1"></option>
              <option value="{{item.id}}"  *ngFor="let item of withdraws">{{item.value}}</option>
            </select>
          </div>
        </div>
      </div>
      <button class="btn btn-success" (click)="Save()">Finalizar transaccion</button>
      <button class="btn btn-success" *ngIf="showbtnupdate" (click)="Update()">Actualizar</button>
    </div>
    <a href="/home">Ir al inicio</a>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>





